<section class="brands-categories container">
  <div class="brands">
    <div class="intro">
      <h2>PRINCIPAIS MARCAS</h2>
      <a href="">View All</a>
    </div>

    <ul>
      @for (brand of brands; track $index) {
        <li><img src={{brand}} alt=""></li>
      }
    </ul>
  </div>

  <div class="categories">
    <div class="intro">
      <h2>PRINCIPAIS CATEGORIAS</h2>
      <a href="">View All</a>
    </div>

    <ul>
      <li>
        <a href="">
          <img src="" alt="">
          <span>Notebooks</span>
        </a>
      </li>

      <li>
        <a href="">
          <img src="" alt="">
          <span>Computadores</span>
        </a>
      </li>

      <li>
        <a href="">
          <img src="" alt="">
          <span>Jogos</span>
        </a>
      </li>

      <li>
        <a href="">
          <img src="" alt="">
          <span>Peças</span>
        </a>
      </li>
    </ul>
  </div>
</section>