.best-of {
  background: var(--c0);
  border-radius: 10px;
  padding: 24px 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.best-of-top, .categories-item, .item-info, .best-of-head {
  display: flex;
  justify-content: space-between;
}

.best-of-head {
  align-items: center;
}

.categories-item {
  gap: 18px;
}

.best-of-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  align-items: center;
}

.best-of-categories-img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.item-info {
  flex-direction: column;
  justify-content: start;
  gap: 6px;
}

.best-of-categories-title {
  font-weight: bold;
}

.item-info span {
  font-size: .85rem;
  color: var(--c2);
}

.best-of-banner img {
  border-radius: 8px;
  width: 600px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.banner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.banner-title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
}

.banner-extra {
  font-size: 1rem;
  color: var(--c2);
}

.banner-img {
  max-height: 200px;
  object-fit: cover;
}

.products-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.products-img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.products-title {
  font-weight: bold;
  font-size: 1rem;
  max-width: 25ch;
}

.products-price {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--c5);
}

.shipping {
  font-size: .75rem;
  color:var(--c3);
  text-transform: uppercase;
}

.stock {
  font-size: .85rem;
  display: flex;
  align-items: center;
}

.stock img {
  display: inline-block;
  width: 16px;
}

.stock, .products-price {
  margin-top: 8px;
}