<!-- TODO: configurar rout outlet de navigate -->
<div class="best-of container">
  <div class="best-of-head">
    <h1>{{title}}</h1>
    <span (click)="navigateToPage('products',title,null)" class="viewmore">Veja Mais</span> 
  </div>
  
  <div class="best-of-top">
    <div class="best-of-banner">
      <div class="banner-info">
        <h2 class="banner-title">{{banner.name}}</h2>
        <span class="banner-extra">{{banner.extra}}</span>
        <button class="banner-button" (click)="navigateToPage('products',title,banner.name)">COMPRE AGORA</button>
      </div>
      <div><img class="banner-img" [src]="banner.img" [alt]="banner.name"></div>
    </div>

    <ul class="best-of-categories">
      @for (item of categories; track $index) {
        <li (click)="navigateToPage('products',title,item.name)" class="categories-item">
          <div class="item-info">
            <h3 class="best-of-categories-title">{{item.name}}</h3>
            <span>{{item.qtd}} itens</span>
          </div>

          <div ><img class="best-of-categories-img" [src]="item.img" [alt]="item.name"></div>
        </li>
      }
    </ul>
  </div>

  <hr>

  <div class="best-of-products"><ul class="best-of-products-list">
    @for (product of products; track $index) {
      <li class="products-item">
        <div>
          <div ><img class="products-img" [src]="product.img" [alt]="product.name"></div>
          <h2 class="products-title">{{product.name}}</h2>
          <p class="products-price">R$ {{product.price}}</p>
        </div>
        <div>
          <span class="shipping">FRETE GRÁTIS</span>
          <span class="stock"> <img src="/icons/check.svg" alt=""> Disponível</span>
        </div>
      </li>
    }
  </ul></div>
</div>