.ad-type1 {
  background: var(--c0); /* Separar e adicionar foto do produto como url */
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 1;
}

.ad-type1 span, .ad-type2 span {
  font-size: .8rem;
  margin-bottom: 8px;
}

.ad-type1 h3, .ad-type2 h3 {
  font-weight: bold;
  margin-bottom: 48px;
}

.ad-type1 button {
  background: var(--c2);
  border-radius: 10px;
  color: var(--c0);
  padding: 8px;
  font-weight: bold;
}

.ad-type2 {
  background: var(--c2); /* Separar e adicionar foto do produto como url */
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--c0);
  flex: 1;
}

.ad-type2 p {
  font-size: .8rem;
  color: var(--c1);
}

.ad-type2 span.price {
  color: var(--c3);
}