<section class="container daydeal">
  <div class="deal">
    <div class="title-bg"><h1 class="title">OFERTA DO DIA</h1></div>
    
    <div class="product">
      <div class="product-gallery">
        @for (foto of product.gallery; track $index) {
          <img [src]="foto" alt="" (click)="select(foto)">
        }
      </div>
      
      <div class="product-img">
        <img [src]="main_img" [alt]="product.name">
        <div class="sale">
          <span>ECONOMIZE</span>
          <p>R$699,00</p>
        </div>
      </div>
      
      <div class="product-info">
        <h2 class="product-name" [routerLink]="['products',product.name]">{{product.name}}</h2>
        <p class="product-price">R$ {{product.price}} <span class="c2">5999,00</span></p>
        
        <ul class="product-features">
          @for (feature of product.features; track $index) {
            <li>{{feature}}</li>
          }
        </ul>
        
        <span class="product-shipping">FRETE GRÁTIS</span>
        
        <div class="product-extras">
          <div class="extras-time">
            <p>A PROMOÇÃO VAI ATÉ</p>
            <span class="timer">{{timeLeft}}</span>
          </div>

          <hr>

          <div class="extras-progress">
            <progress value="25" max="87"></progress>
            <span class="product-count">Vendidos: <strong>25/87</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ads">
    <app-ad
      type="type1"
      brand="MARCA"
      name="Nome Deste Produto">
    </app-ad>

    <app-ad
      type="type2"
      brand="MARCA"
      name="NOME DO PRODUTO"
      price="R$000,00"
      link="./">
    </app-ad>
  </div>
</section>

