<section class="container panel">
  <div class="panel-header">
    <nav class="select"><ul>
      <li>MAIS VENDIDOS</li>
      <li>NOVIDADES</li>
      <li>MAIS POPULARES</li>
    </ul></nav>
    
    <span>Veja Mais</span>
  </div>

  <div class="panel-list">
    <ul>
      @for (item of products; track $index) {
        <li class="panel-list-item" (click)="navigateToProduct(item)">
          <div class="item-photo"><img src="" alt=""><!-- TODO: Definir forma para referenciar imagem de cada produto --></div>
          <h3 class="item-name">{{item.name}}</h3>
          <span class="item-price">{{item.price}}</span>
          <span class="item-extra">FRETE GRÁTIS PARA MEMBROS</span>
        </li>
      }
    </ul>
  </div>
</section>