<nav class="supernav container">
  <div class="hotline">
    <span class="hotline-sign">Suporte 24/7</span>
    <a href="tel:+55 (71) 99999-9999"><strong>+55 (71) 99999-9999</strong></a>
  </div>

  <div class="supernav-info">
    <div class="supernav-button">
      <button class="supernav-button-item"><span>Venda na {{ title }}</span></button>
      <button class="supernav-button-item"><span>Encomendar Produto</span></button>
    </div>

    <div class="supernav-lang-curr">
      <select name="currency" id="currency" aria-placeholder="BRL">
        <option value="brl">BRL</option>
        <option value="usd">USD</option>
      </select>

      <select name="language" id="language">
        <option value="pt-br">PT-BR</option>
        <option value="eng">ENG</option>
        <option value="fr">FR</option>
      </select>
    </div>
  </div>
</nav>