<section class="container banners">
  <div class="banner">
    <div class="banner-head">
      <h1 class="banner-title">GAMING</h1>
      <span>Veja Mais</span>
    </div>

    <div class="banner-photo"><img src="" alt=""></div>

    <hr>

    <div class="banner-products"><ul>
      <li>
        <img src="" alt="">
        <h3>Monitores</h3>
        <span>28 itens</span>
      </li>

      <li>
        <img src="" alt="">
        <h3>Cadeiras</h3>
        <span>12 itens</span>
      </li>

      <li>
        <img src="" alt="">
        <h3>Controles</h3>
        <span>9 itens</span>
      </li>

      <li>
        <img src="" alt="">
        <h3>Teclados</h3>
        <span>30 itens</span>
      </li>
    </ul></div>
  </div>
</section>