<nav class="nav container">

  <div class="nav-start">
    <div class="nav-label">
      <div><img src="" alt="" class="logo"></div>
      <h1>LOJA<br><strong>DE JOGOS</strong></h1>
    </div>
    
    <nav class="nav-menu">
      <a href="#homes">ÁREAS</a>
      <a href="#pages">PÁGINAS</a>
      <a href="#products">PRODUTOS</a>
      <a href="#contact">CONTATO</a>
    </nav>
  </div>

  <div class="nav-end">
    <div class="nav-end-buttons">
      <button></button>
      <button></button>
    </div>

    <div class="perfil">
      <button><img src="" alt=""></button>
      <span>BEM-VINDO</span>
      <button><strong>ENTRAR / CADASTRAR</strong></button>
    </div>

    <div class="cart">
      <div><img src="" alt="" class="cart-foto"></div>
      <span>CART</span>
      <p class="price">R$0,00</p>
    </div>
  </div>

</nav>
