<nav class="nav container">

  <div class="nav-start">
    <div class="nav-label">
      <img src="../../../public/aoff_se_zipem_panska_018.jpg" alt="" class="logo">
      <h1>LOJA<br><strong>DE JOGOS</strong></h1>
    </div>
    
    <nav class="nav-menu">
      <a href="#homes">ÁREAS</a>
      <a href="#pages">PÁGINAS</a>
      <a href="#products">PRODUTOS</a>
      <a href="#contact">CONTATO</a>
    </nav>
  </div>

  <div class="nav-end">
    <div class="nav-end-buttons">
      <button></button>
      <button></button>
      <button></button>
    </div>

    <div class="perfil">
      <span>BEM-VINDO</span>
      <button><strong>ENTRAR / CADASTRAR</strong></button>
    </div>

    <div class="cart">
      <button><img src="" alt="" class="cart-foto"></button>
      <a class="cart-info">
        <span>CART</span>
        <span class="price">R$0,00</span>
      </a>
    </div>
  </div>

</nav>
