<header>
  <app-header-supernav/>
  <app-header-nav/>
  <app-search-bar/>
</header>

<section aria-label="primaria" class="destaques container">
  <nav class="promo-nav">
    <h2>EM PROMOÇÃO! (ATÉ 40%)</h2>

    <ul>
      <li *ngFor="let item of categorias">
        <a href="">{{item}}</a>
      </li>
    </ul>
  </nav>

  <div class="produtos-destaque">
    <div class="produto-principal">
      <h2><strong>Nome do</strong><br>Produto Principal</h2>
      <span>Pequeno texto de descrição das características e benefícios deste produto</span>
      <button>COMPRAR</button>
    </div>

    <div class="produto-secundario secundario-1">
      <div class="sec-text">
        <h3>Nome do Produto</h3>
        <span>por <span class="price">R$000,00</span></span>
      </div>
      <button>SAIBA MAIS</button>
    </div>

    <div class="produto-secundario secundario-2">
      <div class="sec-text">
        <h3>Nome do Produto</h3>
        <span>por <span class="price">R$000,00</span></span>
      </div>
      <button>SAIBA MAIS</button>
    </div>
  </div>

  <div class="ads">
    <div class="ad-tipo1">
      <span>MARCA</span>
      <h3>Nome Deste Produto</h3>
      <button>COMPRAR</button>
    </div>

    <a href="./" class="ad-tipo2">
      <span>MARCA</span>
      <h3>NOME DO PRODUTO</h3>
      <p>A PARTIR DE</p>
      <span class="price">R$000,00</span>
    </a>
  </div>
</section>
  
<main></main>