<div class="banner">
  <div class="banner-head">
    <h1 class="font-1-l">{{title}}</h1>
    <span [routerLink]="['products',title]" class="font-1-s viewmore">Veja Mais</span>
  </div>

  <div class="banner-photo" [routerLink]="['products',title]"><img [src]="photo" alt=""></div>

  <hr>

  <div><ul class="banner-products">
    @for (product of products; track $index) {
      <li class="products-item" [routerLink]="['products',title,product.name]">
        @if (title === "JOGOS") {
          <img class="product-img-jogos" [src]="product.img" [alt]="product.name">
        }
        @if (title != "JOGOS") {
          <img class="product-img-else" [src]="product.img" [alt]="product.name">
        }
        <h3 class="product-title">{{product.name}}</h3>
        <span class="product-qtd">{{product.qtd}} itens</span>
      </li>
    }
  </ul></div>
</div>