.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px 16px 24px;
  background-color: var(--c0);
  border-radius: 0 0 10px 10px;
  gap: 24px;
}

.nav-start, .nav-end, .nav-menu, .nav-label {
  display: flex;
  align-items: center;
}

.nav-start {
  gap: 80px;
}

.nav-menu {
  gap: 20px;
}

.logo {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.nav-menu a {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.nav-menu a img {
  display: inline;
  width: 16px;
  height: 16px;
}

.nav-end {
  gap: 16px;
}

.nav-end-buttons {
  display: flex;
  gap: 12px;
}
.nav-end-buttons button, .cart button {
  display: block;
  background: var(--c1);
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.perfil {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.perfil span, .cart-info span:first-child {
  color: #666;
  font-size: .75rem;
}

.perfil button {
  white-space: nowrap;
}

.cart {
  display: flex;
  gap: 8px;
}

.cart-info {
  display: flex;
  flex-direction: column;
}

.cart-info span:last-child {
  font-weight: bold;
}

button {
  display: flex;
  align-items: center;
  justify-items: center;
}

button img {
  width: 65%;
}