<nav class="nav container">

  <div class="nav-start">
    <div class="nav-label" routerLink="">
      <img src="/mercury.png" alt="" class="logo">
      <h1><strong>MERCURIO</strong><br>LOJA TECH E GAMER</h1>
    </div>
    
    <nav class="nav-menu">
      <a href="#homes">ÁREAS</a>
      <a href="#pages">PÁGINAS</a>
      <a href="#products">PRODUTOS</a>
      <a href="#products">PRODUTOS</a>
      <a href="#contact">CONTATO</a>
    </nav>
  </div>

  <div class="nav-end">
    <div class="nav-end-buttons">
      <button><img src="/icons/question.svg" alt=""></button>
      <button><img src="/icons/heart.svg" alt=""></button>
      <button><img src="/icons/user.svg" alt=""></button>
    </div>

    <div class="perfil">
      <span>BEM-VINDO</span>
      <div>
        <button routerLink="login"><strong>ENTRAR</strong></button>
        <p> / </p>
        <button routerLink="register"><strong>CADASTRAR</strong></button>
      </div>
    </div>

    <div class="cart">
      <button><img src="/icons/cart.svg" alt="" class="cart-foto"></button>
      <a class="cart-info">
        <span>CART</span>
        <span class="price">R$0,00</span>
      </a>
    </div>
  </div>

</nav>
