.container.destaques {
  padding: 0;
}

.destaques {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 16px;
  align-items: stretch;
}

.promo-nav {
  background: var(--c0);
  border-radius: 10px;
  padding: 16px 86px 36px 48px;
  font-size: .85rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.promo-nav h2 {
  font-size: .85rem;
  font-weight: bold;
  color: var(--c3);
}

.promo-nav li {
  font-weight: bold;
}

.promo-nav li:hover {
  color: var(--c2);
}

.promo-nav li + li {
  margin-top: 16px;
}

.produtos-destaque {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.produto-principal {
  background: var(--c0); /* Nesse elemento colocamos a foto do produto */
  border-radius: 10px;
  grid-column: span 2;
  padding: 48px 48px 0px 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.produto-principal h2 {
  font-size: 1.8rem;
}

.produto-principal span {
  padding-left: 24px;
  color: var(--c2);
  font-size: .8rem;
  line-height: 1.5;
  max-width: 24ch;
}

.produto-principal button {
  padding: 8px 16px;
  background: var(--c1);
  border-radius: 10px;
  font-weight: bold;
  align-self: flex-start;
}

.produto-secundario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 16px;
  background: var(--c0); /* Retirar daqui e adicionar background com url em .secundario 1 e 2 */
  border-radius: 10px;
}

.produto-secundario button {
  text-decoration: underline;
  color: var(--c3);
  font-weight: bold;
}

.sec-text h3 {
  font-size: 1rem;
}

.sec-text span {
  font-size: .9rem;
}

.sec-text span.price {
  color: var(--c3);
}

.sec-text h3, span {
  font-weight: bold;
}

.ads {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 12px;
}

.ads img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}