<section class="brands-categories container">
  <div class="brands">
    <div class="intro">
      <h2 class="font-1-l">PRINCIPAIS MARCAS</h2>
      <a (click)="navigateToPage('marcas')" class="viewmore font-1-s">View All</a>
    </div>

    <ul>
      @for (brand of brands; track $index) {
        <li><img [src]="brand" alt=""></li>
      }
    </ul>
  </div>

  <div class="categories">
    <div class="intro">
      <h2 class="font-1-l">PRINCIPAIS CATEGORIAS</h2>
      <a (click)="navigateToPage('categorias')" class="viewmore font-1-s">View All</a>
    </div>

    <ul>
      @for (category of categories; track $index) {
        <li (click)="navigateToPage(category.name)">
          <img [src]="category.img" [alt]="category.name">
          <p>{{category.name}}</p>
        </li>
      }
    </ul>
  </div>
</section>