<!-- TODO: criar elementos brands e categories e função de navigate em type -->
<section class="brands-categories container">
  <div class="brands">
    <div class="intro">
      <h2>PRINCIPAIS MARCAS</h2>
      <a href="">View All</a>
    </div>

    <ul>
      @for (brand of brands; track $index) {
        <li><img [src]="brand" alt=""></li>
      }
    </ul>
  </div>

  <div class="categories">
    <div class="intro">
      <h2>PRINCIPAIS CATEGORIAS</h2>
      <a href="">View All</a>
    </div>

    <ul>
      @for (category of categories; track $index) {
        <li (click)="navigateToPage(category)">
          <img [src]="category.img" [alt]="category.name">
          <p>{{category.name}}</p>
        </li>
      }
    </ul>
  </div>
</section>