<nav class="search container">
  <form class="search-bar" action="">
    <select name="categorias" id="categorias">
      <option value="todas">Todas Categorias</option>
      <option value="jogos">Jogos</option>
      <option value="perif">Periféricos</option>
      <option value="peças">Peças de Computador</option>
      <option value="notebook">Notebooks</option>
      <option value="pcs">Computadores</option>
    </select>

    <input type="text" name="search" id="search" placeholder="O que você está buscando?">

    <button class="search-glass"><img src="/icons/glass.svg" alt=""></button>
  </form>

  <div class="search-cupom">
    <a href="./">FRETE GRÁTIS ACIMA DE <span class="price-cupom">R$199,99</span></a>
  </div>

  <div class="search-cupom">
    <a href="./">DEVOLUÇÕES ATÉ 30 DIAS</a>
  </div>

  <div class="search-cupom">
    <a href="./">PAGAMENTO 100% SEGURO</a>
  </div>
</nav>